<div class="container-successful-pay">

    <app-nav-bar></app-nav-bar>

    <div class="logo">
        <img class="logo1" src="../../../assets/img/Vector.png" alt="">
    </div>
    <div class="containe-texto">
        <div class="successful-pay">
            <h2>¡Pago exitoso!</h2>
        </div>
        <div class="contaener-paragraph">
            <p>Tu comprobante ha sido <br> enviado a tu correo registrado </p>
        </div>
    </div>
    <div class="button">
        <button class="btn-go-accounts">IR A CUENTAS</button>
    </div>
    <app-footer></app-footer>
</div>