/* pago exitoso*/

.container-successful-pay{
    background: #E5E5E5;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .btn-go-accounts{
     margin-top: 10%;
     color: #FCFBFE;
     text-align: center;
     border-radius: 29.5px;
     background: #370F8C;
     box-shadow: 0px 10px 14px rgba(113, 44, 226, 0.2);  
     line-height: 35px;
     padding: 10px 15px;
      
   }
  
  .logo{
   
     margin-top: 30%; 
     margin-bottom: 7%;  
  }

   .logo1{
    width:114px;
    height:114px;
  }
  .containe-texto{
      margin-bottom: 40%;
  }