
<div class="container-confirm-payment">
    <div class="payment-method">
        <h4>Metodo de pago</h4>
    </div>
    <div>
        <div class="container-card">
            <img class="logo2" src="../../../assets/img/Activo.png" alt="">
            </div>    
    </div>
    <div>
        <h3>A PAGAR</h3>
        <h3>$ 18.000</h3>
        
    </div>
    <div>
        <p>Fecha de vencimiento <br> 05 marzo 2020</p>


    </div>

    <div>
    <img class="logo-paw-print" src="../../../assets/img/reconocimiento-dactilar.png" alt="">
                
    </div>

    <button class="btn-confirm-payment">PAGAR</button>

</div>
