<div class="container-confirm-payment">
    <app-nav-bar></app-nav-bar>

    <div class="contenoptions">
        <p class="paid">Metodo de pago</p>
    </div>

    <div class="container">
        <div class="container-card">
            <img class="logo2" src="../../../assets/img/Activo.png" alt="">
            <p>$ 1312</p>
            <img class="img-arrow" src="../../../assets/img/Ir.png" alt="logo">
        </div>
    </div>
    <div class="amount">
        <h3>A PAGAR <br> $ 18.000</h3>
    </div>

    <div class="container-day">
        <p class="day">Fecha de vencimiento </p>
        <p class="day2">5 Marzo 2020</p>

    </div>


    <div class="container-payment">
        <img class="logo-paw-print" src="../../../assets/img/reconocimiento-dactilar.png" alt="">

    </div>

    <button class="btn-confirm-payment">PAGAR</button>


</div>
<app-footer></app-footer>