<!-- Navbar -->
<nav>
    <div class="back col-2">
        <h5 class="text-white h4 arrow col-2"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M28.1666 12.7916H7.37617L16.9258 3.242L14.4999 0.833252L0.833252 14.4999L14.4999 28.1666L16.9087 25.7578L7.37617 16.2083H28.1666V12.7916Z" fill="white"/>
        </svg>
        </h5>
    </div>
    <div class="col-8">
        <h5 class="text-white h4 col-8 ">{{title}}</h5>
    </div>

    <!-- Menú hamburguesa -->
    <div class="navbar navbar-dark hamburger col-2 offset-9">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <!-- Menú hamburguesa -->
</nav>