.contenimg {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenimg img {
    width: 70%;
    height: auto;
    margin-top: 10em;
    margin-bottom: 3em;
}

.pay {
    background: #370F8C;
    color: #ffffff;
    z-index: 1;
    padding: 0.5em 1.3em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.contentick {
    display: flex;
    flex-direction: column;
}